extends layout

block content
    h1.text-success= title

    if (toShow == null)
        h2.text-danger No instance to update
    else
        - let id = toShow._id
        - let animal_type = toShow.animal_type
        - let color = toShow.color
        - let legs = toShow.legs

        div.row.mb-2.bg-info.text-light.p-3
            div.mr-1 ID is
            div #{id}

        - let actionid = "/resource/animal/" + id
        form#AnimalForm(class='mt-3', action=actionid, method="PUT")
            div.form-group
                label.animalAttr(for='animal_type' class='text-warning') Animal Type
                input#animal_type.form-control(type='text', name='animal_type', value=animal_type)
            div.form-group
                label.animalAttr(for='color' class='text-danger') Color
                input#color.form-control(type='text', name='color', value=color)
            div.form-group
                label.animalAttr(for='number_of_wings' class='text-primary') Legs
                input#number_of_wings.form-control(type='number', min = 2, max = 4, name='legs', value=legs)
            input.btn.btn-success(type="submit" value="Update")

        script.
            document.forms.AnimalForm.addEventListener('submit', async (event) => {
                event.preventDefault();
                try {
                    // TODO: Add loading spinner or other user feedback

                    const resp = await fetch(event.target.action, {
                        method: 'PUT',
                        body: new URLSearchParams(new FormData(event.target))
                    });

                    if (!resp.ok) {
                        throw new Error('Network response was not ok');
                    }

                    // Attempt to parse the response as JSON
                    const body = await resp.json();
                    alert("Update success");
                   
                } catch (error) {
                 
                    alert("Update failed: " + error.message);

                    
                }
            });
