extends layout

block content
  h1= title
  - let items = results;
  div(class="container-fluid")
    div(class="row m-1")
      a.btn.btn-success(href="/animal/create") Create New Animal
      each item in items
        - let destination = `/animal/update?id=${item._id}`
        div(class="row-sm-2", class="m-1")
          | Animal: #{item.animal_type} (#{item.color}) #{item.legs} 
          button.btn.btn-primary.ml-1(onclick=`dispatch('${destination}')`) Update
          button.btn.btn-primary.ml-1(onclick=`dispatch('${destination}')`) View Details
          button.btn.btn-primary.ml-1(onclick=`dispatch('${destination}')`) Delete

  script.
    function dispatch(path) {
      window.location.href = path;
    }
