extends layout

block content
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    h1.text-success= title
    - let animalid = toShow._id
    - let animal_type = toShow.animal_type
    - let color = toShow.color
    - let legs = toShow.legs
    div.container.mt-4
        div.row.bg-light.p-3.mb-3
            div.col-12
                h2.text-primary Animal Details
        div.row
            div.col-md-3.text-info.font-weight-bold Animal ID:
            div.col-md-9 #{animalid}
        div.row
            div.col-md-3.text-info.font-weight-bold Animal Type:
            div.col-md-9 #{animal_type}
        div.row
            div.col-md-3.text-info.font-weight-bold Animal Color:
            div.col-md-9 #{color}
        div.row
            div.col-md-3.text-info.font-weight-bold Animal Legs:
            div.col-md-9 #{legs}
