extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let animalid = toShow._id
    - let animal_type = toShow.animal_type
    - let color = toShow.color
    - let legs = toShow.legs
    - let actionid = "/resource/animal/" + animalid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='animalAttr mr-3') animal id is:
          div #{animalid}
      div.row
        div(class='animalAttr mr-3') animal type is:
          div #{animal_type}
      div.row
        div(class='animalAttr mr-3') animal color is:
          div #{color}
      div.row
        div(class='animalAttr mr-3') animal legs are:
          div #{legs}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the animal collection
      window.location.href='/animal'
    }
  script.
    function deleteOnid() {
      console.log("starting delete");
      // delete first
      fetch(actionid, {
        method: 'DELETE'     // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeeded");
        window.location.href='/animal';
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error );
      });
    }